[flake8]
format = wemake
max-line-length = 160
ignore = W191, D100, D203, D212, D200, Q000, WPS459, WPS305, WPS412, WPS323, WPS111, WPS430, S311, WPS336, WPS602, WPS404, WPS237, S404, C812, S101, I003, WPS507, DAR201, DAR003, WPS234, WPS227, WPS226, WPS319, WPS317, DAR101
# W191: use tabs, obviously
# DX: see below
# Q000: double quotation marks
# WPS459: comparison with floats
# WPS305: f-strings
# WPS412: init with logic
# WPS323: percentage format string necessary for logging module
# WPS111: allow short names
# WPS430: nested functions
# S311: non-cryptographic rand
# WPS336: string concatenation
# WPS602: static methods
# WPS404: complex default values
# WPS237: complex f-strings
# S404: subprocess module
# C812: trailing comma
# S101: asserts
# I003: isort blank lines
# WPS507: allow len 0 comparison (seems a wps bug)
# DAR003: Incorrect docstring indentation, seems buggy, unfortunately
# DAR201: Missing returns in Docstring, is buggy, unfortunately (function contains Returns)
# WPS234: Overly complex type annotations. We need correct type annotations, no matter the complexity
# WPS227: Allow long output tuples
# WPS226: Forbid returning or yielding tuples that are too long
# DAR101: buggy

# short names in contexts are fine
min-name-length = 1

# default 7
max-module-members = 11

# default 12
max-imports = 21

# default 14
max-line-complexity = 21

# default 7
max-methods = 11

# default 5
max-local-variables = 12

# default 1
max-try-body-length = 3

# default 12
max-cognitive-score = 19

# default 8
max-cognitive-average = 10

# default 3
max-annotation-complexity = 4

# default: 6
max-attributes = 9

# default: 5
max-arguments = 8
